name: Top GitHub Users
on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:
concurrency:
  group: top-github-users
  cancel-in-progress: false
jobs:
  release:
    name: GitHub Active Users
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.CUSTOM_TOKEN }}
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - uses: gayanvoice/top-github-users-action@master
        env:
          CUSTOM_TOKEN: ${{ secrets.CUSTOM_TOKEN }}
